<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">

	<title>Threecast</title>
</head>
<body>

	<header role="banner">
		<h1><a href="/" rel="home">Threecast</a></h1>
	</header>

	<main role="main">
		<%= yield %>
	</main>

	<footer role="contentinfo">
		<p>Powered by <a href="http://forecast.io/">Forecast</a>.</p>
	</footer>

</body>
</html>