<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">

	<title>Threecast — How’s the weather?</title>

	<link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
</head>
<body>

	<div class="container">
		<header class="global-header" role="banner">
			<h1><a href="/" rel="home">Threecast</a></h1>
		</header>

		<main class="global-content" role="main">
			<%= yield %>
		</main>

		<footer class="global-footer" role="contentinfo">
			<p>Built by <a href="http://viget.com/">Viget</a>. Powered by <a href="http://forecast.io/">Forecast</a>.</p>
		</footer>
	</div>

</body>
</html>