<div class="forecast">
	<p>It’s currently <b><%#= @forecast.currently.temperature.round %>°</b> in <%#= @location['name'] %>. It feels like <b><%#= @forecast.currently.apparentTemperature.round %>°</b>.</p>
</div>