<div class="forecast">
	<p>
		It’s currently <b><%= @location.forecast.currently.temperature.round %>°</b> in <%= @location.name %>.
		It feels like <b><%= @location.forecast.currently.apparent_temperature.round %>°</b>.
	</p>
</div>